// Variables

// Gray and Brand Colors for use across theme

$font-color:    #dddddddd; // text
$disabled-font-color:    #868686; // text
$theme-primary:    #ABA94C; // text
$theme-danger:     #BE3C4B;

$gray-base:			   #04151f !default;
$gray-darker:		  #0d212e !default;
$gray-dark:			  #152d3c !default;  
$gray:				  #1d4e5d !default;
$gray-light:		  #208c7a !default;
$gray-lighter:		  #58bc82 !default;   